## **Methods of different Python Datatypes**

# Integer (int)

In [1]:
n = 42
print(n.bit_length())  # Number of bits required to represent the number
print(n.to_bytes(2, 'big'))  # Convert integer to bytes

6
b'\x00*'

# Float (float)

In [2]:
f = 3.14159
print(f.is_integer())  # Check if the float is an integer
print(round(f, 2))  # Round to 2 decimal places

False
3.14

# Complex (complex)

In [6]:
c = 3 + 4j
print(c.conjugate())  # Conjugate of complex number
print(abs(c))  # Magnitude of the complex number

(3-4j)
5.0

# List (list)

In [7]:
lst = [1, 2, 3, 4]
lst.append(5)  # Add an element
print(lst.count(2))  # Count occurrences of 2
print(lst.pop())  # Remove and return last item

1
5

# Tuple (tuple)

In [8]:
tpl = (1, 2, 3, 4)
print(tpl.index(2))  # Get index of an element
print(tpl.count(3))  # Count occurrences of 3

1
1

# String (str)

In [9]:
s = "hello world"
print(s.upper())  # Convert to uppercase
print(s.replace("world", "Python"))  # Replace substring

HELLO WORLD
hello Python

# Set (set)

In [10]:
st = {1, 2, 3, 4}
st.add(5)  # Add element to set
print(st.intersection({2, 3, 6}))  # Intersection with another set

{2, 3}

# Dictionary (dict)

In [11]:
d = {"a": 1, "b": 2}
print(d.keys())  # Get dictionary keys
print(d.get("a"))  # Get value for a key
print(d.pop("b"))  # Remove and return value of key 'b'

dict_keys(['a', 'b'])
1
2

# Boolean (bool)

In [12]:
b = True
print(b.bit_length())  # Number of bits needed to represent
print(b.__int__())  # Convert to integer

1
1